@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6, a, button, 
input[type="submit"], input[type="button"], input[type="reset"] {
    font-family: var(--font-manrope), sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    
    font-size: 16px;
    line-height: normal;
}

*, body {
    margin: 0;
    padding: 0;
}

.body-scale {
    font-size: clamp(6px, 1.5vw, 18px);
}

*::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

*::-webkit-scrollbar-track {
    background-color: #f0f0f0; 
    border-radius: 10px; 
}

*::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

