@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Bold.woff') format('woff'),
       url('/fonts/MonumentExtended-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-sizing: border-box;
}

/* Customize the width of the scrollbar */
*::-webkit-scrollbar {
  width: 5px; /* Set the width of the vertical scrollbar */
  height: 3px; /* Set the height of the horizontal scrollbar */
}

/* Customize the track of the scrollbar */
*::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Background color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Customize the thumb of the scrollbar */
*::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Add a hover effect to the thumb */
*::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when the thumb is hovered */
}

*, body {
  margin: 0;
  padding: 0;
}
